
@{
    ViewBag.Title = "Freddy Clothing";
    Layout = "~/Views/Shared/_navigation_footer.cshtml";
}

<div>
    <div style="height:200px;width:1440px">

        <img width="1440px" height="200px" src="http://placehold.it/1440x200" />

    </div>


    <div style=" padding: 70px 0px 0px 80px;">

        <div style="height:425px;width:625px;display:inline-block;    margin-right: 35px;">
            <img width="625px" height="425px" src="http://placehold.it/625x425" />
        </div>

        <div style="height:425px;width:625px;display:inline-block">
            <img width="625px" height="425px" src="http://placehold.it/625x425" />
        </div>


    </div>

    <div style=" padding: 70px 0px 80px 80px;">

        <div style="height:300x;width:400px;display:inline-block;    margin-right: 40px;">
            <img width="400px" height="300px" src="http://placehold.it/400x300" />
        </div>

        <div style="height:300x;width:400px;display:inline-block;    margin-right: 40px;">
            <img width="400px" height="300px" src="http://placehold.it/400x300" />
        </div>

        <div style="height:300x;width:400px;display:inline-block;">
            <img width="400px" height="300px" src="http://placehold.it/400x300" />
        </div>


    </div>

</div>

