
@{
    ViewBag.Title = "Freddy Clothing Shop";
    Layout = "~/Views/Shared/_navigation_footer.cshtml";
}

<div>
    <div style="height:200px;width:1440px">

        <img id="banner_ads" width="1440px" height="200px" src="https://picsum.photos/300/300"" />

    </div>


    <div style=" padding: 70px 0px 0px 80px;">

        <div style="height:425px;width:625px;display:inline-block;    margin-right: 35px;">
            <img width="625px" height="425px" src="http://placehold.it/625x425" />
        </div>

        <div style="height:425px;width:625px;display:inline-block">
            <img width="625px" height="425px" src="http://placehold.it/625x425" />
        </div>


    </div>

    <div style=" padding: 70px 0px 80px 80px;">

        <div style="height:300x;width:400px;display:inline-block;    margin-right: 40px;">
            <img width="400px" height="300px" src="http://placehold.it/400x300" />
        </div>

        <div style="height:300x;width:400px;display:inline-block;    margin-right: 40px;">
            <img width="400px" height="300px" src="http://placehold.it/400x300" />
        </div>

        <div style="height:300x;width:400px;display:inline-block;">
            <img width="400px" height="300px" src="http://placehold.it/400x300" />
        </div>


    </div>

</div>

<script>

    const arr = [

        "https://picsum.photos/1400/300",
        "https://picsum.photos/1100/300",
        "https://picsum.photos/1200/300",
        "https://picsum.photos/1500/300",

    ];

    $('#banner_ads').click(e => {

        let src = arr.shift();
        arr.push(src);

        $(e.target)
            .hide()
            .prop('src', src)
            .fadeIn();
    })

</script>

