@{
    Layout = "~/Views/Shared/_navigation_footer.cshtml";
}

<div style=" text-align: center; padding-bottom: 50px; padding-top: 20px;">

    <a style=" font-weight: 600; font-size: 36px; line-height: 60px;">Mens</a>
</div>

<div style="float:right">

    <a class="sort_title" style="display:inline-block;">Total 990 item(s)</a>
    <div class="dropdown " style="display:inline-block;padding-left:15px">
        <button class="btn btn-default dropdown-toggle sort_title" type="button" data-toggle="dropdown">
            Sort
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="active"><a class="sort_list" href="#">Featured</a></li>
            <li><a class="sort_list" href="#">Newests</a></li>
            <li><a class="sort_list" href="#">Best Sellers</a></li>
            <li><a class="sort_list" href="#">Price - Low to High</a></li>
            <li><a class="sort_list" href="#">Price - High to Low</a></li>
        </ul>
    </div>

</div>

<div class="filter">

    <div>
        <div style="display:flow-root;display: flow-root; padding-bottom: 10px;">
            <a style="font-size:24px;float:left">Filter</a>
            <a style="font-size:18px;float:right;padding: 5px 15px 0px 0px;">Clear</a>

        </div>

        <div style="margin: auto;border-top: 1px solid #8D8D8D;width: 95%;"></div>

        <div style="display:flow-root;display: flow-root; padding-top: 10px;">

            <div id="categories" style="height:35px">
                <a style="font-size:16px;float:left">Categories</a>
                <span id="close" class="material-icons rotate" style="float: right;margin-right: 15px;">keyboard_arrow_right</span>

            </div>


            <div id="categories_panel" style="">

                <form>
                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Shirts</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">T-Shirts</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Pants</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Hoddies</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Sneakers</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Accessories</label>
                    </div>


                </form>

            </div>

        </div>

        <div style="margin: auto;border-top: 1px solid #8D8D8D;width: 95%;"></div>

        <div style="display:flow-root;display: flow-root; padding-top: 10px;">

            <div id="brands" style="height:35px">
                <a style="font-size:16px;float:left">Brands</a>
                <span id="close2" class="material-icons rotate" style="float: right;margin-right: 15px;">keyboard_arrow_right</span>

            </div>

            <div id="brands_panel" style="">

                <form>
                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Adidas</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Nike</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">New Balance</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Reebok</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Birkenstock</label>
                    </div>

                    <div class="checkbox">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">Tommu Hilfiger</label>
                    </div>


                </form>

            </div>

        </div>

        <div style="margin: auto;border-top: 1px solid #8D8D8D;width: 95%;"></div>

        <div style="display:flow-root;display: flow-root; padding-top: 10px;">

            <div id="size" style="height:35px">
                <a style="font-size:16px;float:left">Size</a>
                <span id="close3" class="material-icons rotate" style="float: right;margin-right: 15px;">keyboard_arrow_right</span>

            </div>

            <div id="size_panel" style="">

                <form>
                    <div class="checkbox" style="display:inline-block;width:130px">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">UK 4.5</label>
                    </div>
                    <div class="checkbox" style="display:inline-block;width:130px">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">UK 5</label>
                    </div>
                    <div class="checkbox" style="display:inline-block;width:130px">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">UK 5.5</label>
                    </div>
                    <div class="checkbox" style="display:inline-block;width:130px">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">UK 6</label>
                    </div>
                    <div class="checkbox" style="display:inline-block;width:130px">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">UK 6.5</label>
                    </div>
                    <div class="checkbox" style="display:inline-block;width:130px">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">UK 7</label>
                    </div>
                    <div class="checkbox" style="display:inline-block;width:130px">
                        <label style="font-size:16px;padding-bottom: 5px;"><input type="checkbox" value="">UK 7.5</label>
                    </div>






                </form>

            </div>

        </div>

        <div style="margin: auto;border-top: 1px solid #8D8D8D;width: 95%;"></div>

        <div style="display:flow-root;display: flow-root; padding-top: 10px;">

            <div id="size" style="height:35px">
                <a style="font-size:16px;float:left">Price Range</a>
               

            </div>

            <div id="price_panel" style="">


            </div>

        </div>


    </div>


</div>

<div style="padding: 35px 0px 100px 50px;width: 1060px;overflow:auto">


    <div class="product_list">

        <img width="250px" height="250px" src="http://placehold.it/250x250" />

        <div style="text-align:center;width:250px">
            <a class="product_list_title">Nike- Airmax 97 Grey</a>
            <a style="font-size:14px">RM990</a>

        </div>

    </div>

    <div class="product_list">

        <img width="250px" height="250px" src="http://placehold.it/250x250" />

        <div style="text-align:center;width:250px">
            <a class="product_list_title">Nike- Airmax 97 Grey</a>
            <a style="font-size:14px">RM990</a>

        </div>

    </div>

    <div class="product_list">

        <img width="250px" height="250px" src="http://placehold.it/250x250" />

        <div style="text-align:center;width:250px">
            <a class="product_list_title">Nike- Airmax 97 Grey</a>
            <a style="font-size:14px">RM990</a>

        </div>

    </div>

    <div class="product_list">

        <img width="250px" height="250px" src="http://placehold.it/250x250" />

        <div style="text-align:center;width:250px">
            <a class="product_list_title">Nike- Airmax 97 Grey</a>
            <a style="font-size:14px">RM990</a>

        </div>

    </div>

    <div class="product_list">

        <img width="250px" height="250px" src="http://placehold.it/250x250" />

        <div style="text-align:center;width:250px">
            <a class="product_list_title">Nike- Airmax 97 Grey</a>
            <a style="font-size:14px">RM990</a>

        </div>

    </div>

    <div class="product_list">

        <img width="250px" height="250px" src="http://placehold.it/250x250" />

        <div style="text-align:center;width:250px">
            <a class="product_list_title">Nike- Airmax 97 Grey</a>
            <a style="font-size:14px">RM990</a>

        </div>

    </div>

    <div class="product_list">

        <img width="250px" height="250px" src="http://placehold.it/250x250" />

        <div style="text-align:center;width:250px">
            <a class="product_list_title">Nike- Airmax 97 Grey</a>
            <a style="font-size:14px">RM990</a>

        </div>

    </div>




</div>

<script>

    $(document).ready(function () {
        $("#categories").click(function () {
            $("#categories_panel").slideToggle("slow");
        });
    });

    $(document).ready(function () {
        $("#brands").click(function () {
            $("#brands_panel").slideToggle("slow");
        });
    });

    $(document).ready(function () {
        $("#size").click(function () {
            $("#size_panel").slideToggle("slow");
        });
    });

    $("#categories").click(function () {
        $("#close").toggleClass("down");
    })

    $("#brands").click(function () {
        $("#close2").toggleClass("down");
    })

    $("#size").click(function () {
        $("#close3").toggleClass("down");
    })

</script>

<style>

    .active {
    }

    .sort_list {
        font-size: 14px;
        line-height: 24px;
    }

    .sort_title {
        font-size: 16px;
        color: #797979
    }

    .filter {
        float: left;
        width: 300px;
        height: 500px;
        border-right: 1px solid #8D8D8D;
        margin: 70px 30px 0px 50px;
    }

    .product_list {

        width: 250px;
        padding-right: 50px;
        height: 350px;
        display: inline-block;
        margin: 0px 50px 10px 30px;
    }

    .product_list:hover{

        background-color:#f6f5f5

    }

    .product_list_title {

        font-size: 14px;
        display: block;
        padding: 10px 0px 10px 0px;
        line-height: 25px;
    }

    .rotate {
        -moz-transition: all .5s linear;
        -webkit-transition: all .5s linear;
        transition: all .5s linear;
    }

        .rotate.down {
            -moz-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
        }

</style>